body {
	background-color: transparent;
	max-width: 100%;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.add-color-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.collapsible ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .collapsible li {
    align-items: center;
    display: flex;
    height: 22px;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 28px;
  }

  .loader{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 9999999;
	background: rgba(0,0,0,0.8);
  }

  .loader.active{
	display: flex;
  }

  .loader img{
	max-width: 100%;
  }


  .theme-icon.green{
	color: #0f0 !important;
  }
  .theme-icon.red{
	color: #f00 !important;
  }
  .theme-icon{
	color: var(--inactive-selection-icon-foreground) !important;
  }
  pre {
	margin-top: 1em;
    white-space: pre-wrap;
    white-space: moz-pre-wrap;
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap;
    word-wrap: break-word; 
	max-height: 200px;
	overflow-y: scroll;
	background-color: var(--vscode-editor-background);
}
#error-container{
	width: 100%;
	height: auto;
}